<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-06-04 17:18:08
 * @LastEditTime: 2019-08-26 15:18:46
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="所属商户" prop="merchantname">
                <el-input v-model="searchform.merchantname" placeholder="请输入" class="search-input"></el-input>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="createtime" label="操作时间" ></el-table-column>
          <el-table-column prop="typename" label="商户分类" width="150"></el-table-column>
          <el-table-column prop="merchantname" label="所属商户" width="250"></el-table-column>
          <el-table-column prop="backupname" label="功能板块" width="200"></el-table-column>
          <el-table-column prop="backupstatusname" label="审核状态" width="200">
            <template slot-scope="scope">
              <span class="color-err" v-show="scope.row.backupstatus === 3">{{scope.row.backupstatusname}}</span>
              <span class="color-suc"  v-show="scope.row.backupstatus === 2">{{scope.row.backupstatusname}}</span>
              <span class="color-default"  v-show="scope.row.backupstatus === 1">{{scope.row.backupstatusname}}</span>
            </template>
          </el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>


    <!-- 查看婚庆商户 -->
    <el-dialog title="婚庆商户" :visible.sync="catVisible6" width="967px" @close="closeDialog('form6')" center>
      <el-form ref="form6" :model="form6" label-width="100px">
          <el-row>
            <el-col :span="24">
              <el-form-item label="商户名称" prop="merchantname">
                <el-input v-model="form6.merchantname" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="负责人员" prop="contacts">
                <el-input v-model="form6.contacts" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="手机号码" prop="account">
                <el-input v-model="form6.account" disabled placeholder="请输入"></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="固定电话" prop="landline">
                <el-input v-model="form6.landline" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="联系QQ" prop="qq">
                <el-input v-model="form6.qq" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系微信" prop="wx">
                <el-input v-model="form6.wx" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="联系邮箱" prop="email">
                <el-input v-model="form6.email" placeholder="请输入" disabled></el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="8">
              <el-form-item label="所属省份" required>
                <el-select v-model="form6.province" filterable placeholder="请选择省" disabled style="width: 100%">
                  <el-option
                    v-for="item in provinces"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属城市" required>
                <el-select v-model="form6.city" filterable placeholder="请选择市" disabled style="width: 100%">
                  <el-option
                    v-for="item in citys"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="8">
              <el-form-item label="所属区域" required>
                <el-select v-model="form6.area" filterable placeholder="请选择区" disabled style="width: 100%">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="24">
              <el-form-item label="商户地址" prop="address">
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form6.address"
                  maxlength="200"
                  show-word-limit
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="商店logo" >
                <ul class="image-ul logo" v-viewer="{movable: false}">
                  <li class="image-li"
                    @click="handleImage('.logo')"
                  >
                    <img :src="form6.logo" alt="">
                  </li>
                </ul>
                <div class="images-warn">
                  <p>图片尺寸比例：1:1</p>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="门店照片" >
                <ul class="image-ul merchantimage" v-viewer="{movable: false}">
                  <li class="image-li"
                    @click="handleImage('.merchantimage')"
                  >
                    <img :src="form6.merchantimage" alt="">
                  </li>
                </ul>
                <div class="images-warn">
                  <p>图片尺寸比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12">
              <el-form-item label="经营执照" >
                <ul class="image-ul businesslicense" v-viewer="{movable: false}">
                  <li class="image-li"
                    @click="handleImage('.businesslicense')"
                  >
                    <img :src="form6.businesslicense" alt="">
                  </li>
                </ul>
                <div class="images-warn">
                  <p>图片尺寸比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
            <el-col :span="12">
              <el-form-item label="店主持证" >
                <ul class="image-ul idkimage" v-viewer="{movable: false}">
                  <li class="image-li"
                    @click="handleImage('.idkimage')"
                  >
                    <img :src="form6.idkimage" alt="">
                  </li>
                </ul>
                <div class="images-warn">
                  <p>图片尺寸比例：2:1</p>
                </div>
              </el-form-item>
            </el-col>
          </el-row>
      </el-form>
      <el-divider>审核结果</el-divider>
      <div class="check-result" v-show="rowData.backupstatus === 1">
        <h1><i class="el-icon-warning"></i></h1>
        <p>待审核</p>
      </div>
      <div class="check-result result-suc" v-show="rowData.backupstatus === 2">
        <h1><i class="el-icon-circle-check"></i></h1>
        <p>审核成功</p>
      </div>
      <div class="check-result result-err" v-show="rowData.backupstatus === 3">
        <h1><i class="el-icon-circle-close"></i></h1>
        <p>审核驳回</p>
      </div>
      <el-form label-width="100px" v-show="rowData.backupstatus !== 2">
        <el-row>
          <el-col :span="24">
            <el-form-item label="驳回理由">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入..."
                v-model="form6.backupremark"
                maxlength="150"
                show-word-limit
                :disabled="rowData.backupstatus === 3"
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <span slot="footer" class="dialog-footer" v-show="rowData.backupstatus === 1">
        <el-button type="primary" @click="handlePass('catVisible6')">通 过</el-button>
        <el-button type="danger" @click="handleNoPass('catVisible6', 'form6')">驳 回</el-button>
      </span>
    </el-dialog>

    <!-- 审核通过提示框 -->
    <el-dialog title="提示" :visible.sync="passVisible" width="30%" center>
      <div style="text-align:center">你确定全部内容都审核通过？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="passVisible = false">取 消</el-button>
        <el-button type="primary" @click="passVisible = false">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
export default {
  data () {
    return {
      searchform: {
        merchantname: '',
        typename: '',
        backupname: ''
      },
      searchresult: {
        merchantname: '',
        typename: '',
        backupname: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,
      passVisible: false,
      catVisible: false,
      form6: {},
      catVisible6: false,
      remark6: '',
      provinces: [],
      citys: [],
      areas: []
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'adminId',
      'uuadmin'
    ])
  },
  components: {

  },
  created () {
    this.submitData();
  },
  mounted () {},
  beforeDestroy () {},
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/backup/loglist.do", {
        page: this.page,
        limit: this.limit,
        typename: this.searchresult.typename,
        backupname: this.searchresult.backupname,
        merchantname: this.searchresult.merchantname,
        cityid: this.uuadmin.cityid,
        areaid: this.uuadmin.areaid
      }).then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row) {
      this.rowData = row;
      http.post("/backup/info.do", {
        id: row.id,
        type: row.type
      }).then((result) => {
        if (result.status === 1) {
          let data = result.data
          if(data.backupstatus === 1) {
            data.backupremark = ''
          }
          switch (row.type) {
            case 6:
            this.provinceList();
            this.cityList(data.province, data.city)
            this.catVisible6 = true;
            this.form6 = data;
            break;
          }
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    handleNoPass (visible, formName) {
      if (this[formName].backupremark === '') {
        this.$message.warning('驳回理由不能为空');
        return
      }
      http.post("/backup/reject.do", {
        id: this.rowData.id,
        type: this.rowData.type,
        remark: this[formName].backupremark
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this[visible] = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    handlePass(visible) {
      http.post("/backup/pass.do", {
        id: this.rowData.id,
        type: this.rowData.type,
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 50);
          this[visible] = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    closeDialog(formName) {
      this[formName] = {};
    },
    handleImage (value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer
        viewer.show();
      })
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList(province, city) {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        id: province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
          if (this.citys.length > 0) {
            if (this.citys[0].level === 2) {
              this.areasList(city)
            } else {
              this.areas = [];
            }
          } else {
            this.areas = [];
          }
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList(city) {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        id: city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
.image-ul {
  display: flex;
  flex-wrap: wrap;
  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dotted #E4E7ED;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  border: 1px dotted #E4E7ED;
}

.red {
  color: red;
}
.check-result {
  margin: 40px 0 20px;
  h1 {
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    i {
      font-size: 30px;
    }
  }
  p {
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
  }
  &.result-suc {
    color: #67C23A;
  }
  &.result-err {
    color: #F56C6C
  }
  .nopass-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 1;
    i {
      font-size: 20px;
      color: red;
    }
  }
}
.color-err {
  color: red;
}

.color-suc {
  color: #67C23A;
}

.color-default {
  color: #909399;
}
</style>
