<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="案例名称" prop="name">
                <el-input v-model="searchform.name" placeholder="请输入" class="search-input"></el-input>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="regionname" label="所属区域" width="100"></el-table-column>
          <el-table-column prop="merchantname" label="所属店铺" width="200"></el-table-column>
          <el-table-column prop="id" label="案例ID" width="100"></el-table-column>
          <el-table-column prop="name" label="案例名称" width="250"></el-table-column>
          <el-table-column prop="address" label="案例地址" ></el-table-column>
          <el-table-column label="操作" width="100" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
              >查看</el-button>
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!-- 查看案例信息 -->
    <el-dialog title="案例信息" :visible.sync="catVisible" width="967px" @close="closeDialog('form')" center>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row>
          <el-col :span="24">
            <el-form-item label="案例名称" prop="name">
              <el-input type="textarea" :rows="2" resize="none" v-model="form.name" disabled maxlength="12"
                  show-word-limit>
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="案例酒店地址" prop="address">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form.address"
                maxlength="200"
                show-word-limit
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="案例描述" prop="introduction">
              <el-input
                type="textarea"
                :rows="3"
                resize="none"
                placeholder="请输入.."
                v-model="form.introduction"
                maxlength="200"
                show-word-limit
                disabled
              >
              </el-input>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-form-item label="所属区域" >
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.province" disabled class="input-width">
                  <el-option
                    v-for="item in provinces"
                    :key="item.areaid"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.city" disabled class="input-width">
                  <el-option
                    v-for="item in citys"
                    :key="item.areaid"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
            <el-col :span="6">
              <el-form-item>
                <el-select v-model="form.area" disabled class="input-width">
                  <el-option
                    v-for="item in areas"
                    :key="item.index"
                    :label="item.areaname"
                    :value="item.areaid">
                  </el-option>
                </el-select>
              </el-form-item>
            </el-col>
          </el-form-item>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="案例视频">
              <div class="videos-box" @click="handVideo(form.demomv)">预览</div>
            </el-form-item>
          </el-col>
        </el-row>
        <el-row>
          <el-col :span="24">
            <el-form-item label="案例图片">
              <ul class="image-ul caseimage" v-viewer="{movable: false}">
                <li class="image-li"
                  v-for="(item, index) in form.pcpath" :key="index"
                  @click="handleImage('.caseimage')"
                >
                  <img :src="item" alt="">
                </li>
              </ul>
            </el-form-item>
          </el-col>
        </el-row>
      </el-form>
      <el-divider>操 作</el-divider>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="catVisible = false">返 回 列 表</el-button>
        <el-popover
          placement="top"
          width="160"
          v-model="delVisible">
          <p>确定删除吗？</p>
          <div style="text-align: right; margin-top: 10px">
            <el-button size="mini" type="text" @click="delVisible = false">取 消</el-button>
            <el-button type="danger" size="mini" @click="handleDel">确 定</el-button>
          </div>
          <el-button type="danger" slot="reference">删 除</el-button>
        </el-popover>
      </span>
    </el-dialog>
     <!-- 播放视频 -->
    <el-dialog :visible.sync="videoVisible">
      <div v-show="!checkvideo">您的浏览器不支持video播放</div>
      <video :src="mvpath" class="preview-video" controls controlslist="nodownload" loop id="myvideo"></video>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
export default {
  data () {
    return {
      searchform: {
        name: ''
      },
      searchresult: {
        name: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      delVisible: false,
      catVisible: false,
      forbidVisible: false,
      form: {},
      mvpath: '',
      checkvideo: true,
      videoVisible: false,
      provinces: [],
      citys: [],
      areas: []
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'adminId',
      'uuadmin'
    ])
  },
  components: {

  },
  created () {
    this.submitData();
  },
  mounted () {
    this.$nextTick(() => {
      //判断是否支持video
      if (!!document.createElement('video').canPlayType) {
        this.checkvideo = true;
      } else {
        this.checkvideo = false;
      }
    })
  },
  beforeDestroy () {

  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/admin/demelist.do", {
        page: this.page,
        limit: this.limit,
        name: this.searchresult.name,
        cityid: this.uuadmin.cityid,
        areaid: this.uuadmin.areaid
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row) {
      this.provinceList();
      http.post("/merchant/demoinfo.do", {
        id: row.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.rowData = data;
          this.cityList(data.province, data.city);
          this.catVisible = true;
          this.form = data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });

    },
    handleDel () {
      http.post("/merchant/deldemo.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
          }, 20);
          this.delVisible = false;
          this.catVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.warning(error);
      });
    },
    closeDialog(formName) {
      this[formName] = {};
    },
    handVideo (value) {
      this.videoVisible = true;
      this.mvpath = value;
      this.$nextTick(() => {
        document.getElementById('myvideo').load();
        document.getElementById('myvideo').play();
      })
    },
    closeVideo () {
      this.showVideo = false;
    },
    handleImage (value) {
      this.$nextTick(() => {
        const viewer = this.$el.querySelector(value).$viewer
        viewer.show();
      })
    },
    provinceList() {
      //省列表
      http.post("/areas/getlist.do", {})
        .then((result) => {
          if (result.status === 1) {
            this.provinces = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
    cityList(province, city) {
      //市列表
      http.post("/areas/selectbyparentid.do", {
        id: province
      }).then((result) => {
        if (result.status === 1) {
          this.citys = result.data;
          if (this.citys.length > 0) {
            if (this.citys[0].level === 2) {
              this.areasList(city)
            } else {
              this.areas = [];
            }
          } else {
            this.areas = [];
          }
        } else {
          this.$message.warning(result.msg);
        }
      }).catch((error) => {
        this.$message.error(error);
      });
    },
    areasList(city) {
      //区列表
      http.post("/areas/selectbyparentid.do", {
        id: city
      }).then((result) => {
          if (result.status === 1) {
            this.areas = result.data;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch((error) => {
          this.$message.error(error);
        });
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
.image-ul {
  display: flex;
  flex-wrap: wrap;
  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dotted #E4E7ED;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  cursor: pointer;
  border: 1px dotted #E4E7ED;
}
.table-pagination {
  margin-top: 30px;
}
.red {
  color: red;
}
.check-result {
  margin: 40px 0 20px;
  h1 {
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    i {
      font-size: 30px;
    }
  }
  p {
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
  }
  &.result-suc {
    color: #67C23A;
  }
  &.result-err {
    color: #F56C6C
  }
  .nopass-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 1;
    i {
      font-size: 20px;
      color: red;
    }
  }
}
.color-err {
  color: red;
}

.color-suc {
  color: #67C23A;
}

.color-default {
  color: #909399;
}
</style>
