<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-26 20:16:26
 * @LastEditTime: 2019-08-26 21:13:27
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs" v-show="false">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title" v-show="false">
      <div class="container-form">
        <el-form :model="searchform" ref="searchform" class="search-form" :inline="true">
          <el-row>
            <el-col :span="24">
              <el-form-item label="创建时间" prop="vehicelname">
                <el-input v-model="searchform.vehicelname" placeholder="请输入" class="search-input"></el-input>
              </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')">重置</el-button>
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="createtime" label="创建时间" width="150"></el-table-column>
          <el-table-column prop="merchantname" label="所属店铺" width="120"></el-table-column>
          <el-table-column prop="text" label="建议内容"></el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total">
          </el-pagination>
        </div>
      </div>
    </el-card>

    <!-- 查看婚车信息 -->
    <el-dialog title="婚车信息" :visible.sync="catVisible" width="967px" @close="closeDialog('form')" center>
      <el-form ref="form" :model="form" label-width="100px">
        <el-row>
            <el-col :span="24">
              <el-form-item label="全天描述" prop="text" >
                <el-input
                  type="textarea"
                  :rows="4"
                  resize="none"
                  placeholder="请输入.."
                  v-model="form.text"
                  disabled
                >
                </el-input>
              </el-form-item>
            </el-col>
          </el-row>
      </el-form>
      <el-divider>操 作</el-divider>
      <span slot="footer" class="dialog-footer">
        <el-button type="primary" @click="catVisible = false">返 回 列 表</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
import 'viewerjs/dist/viewer.css'
import Viewer from 'v-viewer'
import Vue from 'vue'
Vue.use(Viewer)
export default {
  data () {
    return {
      searchform: {
        vehicelname: ''
      },
      searchresult: {
        vehicelname: ''
      },
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      rowData: {},
      catVisible: false,
      form: {},
    }
  },
  watch: {

  },
  computed: {
    ...mapState([
      'adminId',
      'uuadmin'
    ])
  },
  components: {

  },
  created () {
    this.submitData();
  },
  mounted () {

  },
  beforeDestroy () {

  },
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch (formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit (val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http.post("/admin/feedbacklist.do", {
        page: this.page,
        limit: this.limit
      }).then((result) => {
          console.log(result)
        if (result.status === 1) {
          this.tableData = result.data.result;
          this.total = result.data.total;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    handleCat(index, row) {
      http.post("/vehicle/vehicleinfo.do", {
        id: row.carid
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.rowData = data;
          this.cityList(data.province, data.city);
          this.catVisible = true;
          this.form = data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });

    },
    closeDialog(formName) {
      this[formName] = {};
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import '../Home/page.scss';
.image-ul {
  display: flex;

  .image-li {
    width: 70px;
    height: 70px;
    cursor: pointer;
    margin-right: 15px;
    margin-bottom: 15px;
    border: 1px dotted #E4E7ED;
    box-sizing: border-box;
    img {
      width: 100%;
      height: 100%;
    }
  }
}
.videos-box {
  width: 100px;
  height: 100px;
  border: 1px dotted #E4E7ED;
}
.table-pagination {
  margin-top: 30px;
}
.red {
  color: red;
}
.check-result {
  margin: 40px 0 20px;
  h1 {
    text-align: center;
    line-height: 20px;
    margin-bottom: 10px;
    i {
      font-size: 30px;
    }
  }
  p {
    line-height: 30px;
    text-align: center;
    letter-spacing: 2px;
  }
  &.result-suc {
    color: #67C23A;
  }
  &.result-err {
    color: #F56C6C
  }
  .nopass-icon {
    position: absolute;
    width: 15px;
    height: 15px;
    right: 0;
    top: 0;
    z-index: 1;
    i {
      font-size: 20px;
      color: red;
    }
  }
}
.color-err {
  color: red;
}

.color-suc {
  color: #67C23A;
}

.color-default {
  color: #909399;
}
</style>
