<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-26 09:59:22
 * @LastEditTime: 2019-08-26 20:18:27
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="sidebar">
    <el-menu
      class="sidebar-el-menu"
      :default-active="$route.fullPath"
      background-color="#324157"
      text-color="#bfcbd9"
      :collapse="collapse"
      active-text-color="#20a0ff"
      router
      @select = "selectActive"
      :unique-opened = "true"
    >
      <template v-for="item in items">
        <template v-if="item.children.length">
          <el-submenu :index="item.id" :key="item.id">
            <template slot="title">
              <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
              <span slot="title">{{ item.name }}{{item.index}}</span>
            </template>
            <template v-for="subItem in item.children">
              <el-submenu v-if="subItem.children.length" :index="subItem.url" :key="subItem.index">
                <template slot="title">{{ subItem.name }}</template>
                <el-menu-item
                  v-for=" threeItem in subItem.children"
                  :index="threeItem.url"
                  :key="threeItem.index"
                >{{ threeItem.name }}</el-menu-item>
              </el-submenu>
              <el-menu-item v-else :index="subItem.url" :key="subItem.url">
                <i class="iconfont" :class="subItem.icon" style="margin-right: 8px;"></i>
                <span slot="title">{{ subItem.name }}</span>
              </el-menu-item>
            </template>
          </el-submenu>
        </template>
        <template v-else>
          <el-menu-item :index="item.url" :key="item.url">
            <i class="iconfont" :class="item.icon" style="margin-right: 8px;"></i>
            <span slot="title">{{ item.name }}</span>
          </el-menu-item>
        </template>
      </template>
    </el-menu>
  </div>
</template>

<script>
import { mapState } from "vuex";
export default {
  data() {
    return {
      items: [
        {
          icon: "icon-baogaogongdan",
          url: "",
          name: "订单管理",
          id: "24",
          children: [{
            id: "25",
            icon: "",
            url: "/orindex",
            name: "订单列表",
            children: []
          }]
        },
        {
          icon: "icon-shenhe",
          url: "",
          name: "审核管理",
          id: "5",
          children: [{
            id: "6",
            icon: "",
            url: "/check",
            name: "审核列表",
            children: []
          }]
        },
        {
          icon: "icon-dianpu",
          url: "",
          name: "商户管理",
          id: "11",
          children: [{
            id: "13",
            icon: "",
            url: "/mawedding",
            name: "婚庆商户",
            children: []
          },{
            id: "14",
            icon: "",
            url: "/maproduct",
            name: "产品管理",
            children: []
          },
          {
            id: "19",
            icon: "",
            url: "/macase",
            name: "案例管理",
            children: []
          },{
            id: "15",
            icon: "",
            url: "/masheying",
            name: "摄影管理",
            children: []
          },{
            id: "16",
            icon: "",
            url: "/masiyi",
            name: "司仪管理",
            children: []
          },{
            id: "17",
            icon: "",
            url: "/magenzhuang",
            name: "跟妆管理",
            children: []
          },{
            id: "18",
            icon: "",
            url: "/macar",
            name: "婚车管理",
            children: []
          },{
            id: "22",
            icon: "",
            url: "/suggest",
            name: "商家建议",
            children: []
            }]
        }
      ]
    };
  },
  computed: {
     ...mapState([
      'sidebarMenus',
      'collapse'
    ])
  },
  created() {

  },
  methods: {
    selectActive (index, indexPath) {

    }
  }
};
</script>

<style scoped>
.sidebar {
  display: block;
  position: absolute;
  left: 0;
  top: 70px;
  bottom: 0;
  overflow-y: scroll;
}
.sidebar::-webkit-scrollbar {
  width: 0;
}
.sidebar-el-menu:not(.el-menu--collapse) {
  width: 250px;
}
.sidebar > ul {
  height: 100%;
}
</style>
