<template>
  <div class="map-wrapper">
    <div class="map-box">
      <div class="map-title">
        <div class="title-name">
          视频预览
        </div>
        <div class="title-btn">
          <el-button size="medium" type="danger" @click="closeVideo">关 闭</el-button>
        </div>
      </div>
      <div class="video-box">
        <video
          ref="myVideo"
          :src="mvpath"
          muted="true"
          controls
          controlslist="nodownload"
          loop
        ></video>
      </div>
    </div> 
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  props: {
    mvpath: ''
  },
  data () {
    return {
     
    }
  },
  watch: {
  
  },
  computed: {
  
  },
  components: {
    
  },
  mounted () {
    //this.$refs.myVideo.src = value.videoPath;
    //this.$refs.myVideo.play();
    this.$nextTick(() => {
      this.$refs.myVideo.play();
    })
  },
  beforeDestroy () {},
  methods: {
    closeVideo () {
      this.$emit('closeVideo')
    },
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
.map-wrapper {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999999999999;
  .map-box {
    width: 820px;
    height: 590px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -410px;
    margin-top: -285px;
    box-shadow: 0 2px 12px 0 rgba(0,0,0,.1);
    background: #909399;
    padding: 70px 0 0;
    .map-title {
      height: 50px;
      display: flex;
      width: 580px;
      margin: 0 auto;
      .title-name {
        height: 35px;
        line-height: 35px;
        flex: 1;
        font-size: 16px;
        color: #fff;
        font-weight: 600;
      }
      .title-btn {
        width: 250px;
        text-align: right;
      }
    }
    .video-box {
      width: 580px;
      overflow: hidden;
      margin: 0 auto;
      video {
        width: 100%;
      }
    }
  }
  
}
</style>
