<template>
  <div class="page">
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-s-data crumbs-i-right"></i>数据列表
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-table">
        <ul class="table-ul">
          <li class="table-li" 
            v-for="(item, index) in tableData" :key="index"
            :class="{'table-li-active': current === index}"
            @click="handleEdit(index, item)"
          >
            <span class="li-span">{{item.name}}</span>
          </li>
          <li class="table-li" @click="handleAdd" :class="{'table-li-last': current === -100}">
            <i class="el-icon-plus add-icon"></i>
          </li>
        </ul>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span v-if="current === -100 "><i class="el-icon-s-unfold crumbs-i-right"></i>新增友情链接</span>
          <span v-else><i class="el-icon-s-unfold crumbs-i-right"></i>友情链接信息</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="min-height: 440px">
        <el-form ref="form" :model="form" label-width="100px" :rules="rules">
          <el-row>
            <el-col :span="12" :offset="6">
              <el-form-item label="链接名称" prop="name">
                  <el-input v-model="form.name" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row>
            <el-col :span="12" :offset="6">
              <el-form-item label="网站链接" prop="linkurl">
                  <el-input v-model="form.linkurl" placeholder="请输入"></el-input>
                </el-form-item>
            </el-col>
          </el-row>
          <el-row v-if="current === -100">
            <el-col :span="12" :offset="6" style="text-align: center;margin-top: 60px;">
              <el-button type="primary" @click="saveAdd('form')">确认新增</el-button>
              <el-button type="danger" @click="resetForm">重置</el-button>
            </el-col>
          </el-row>
          <el-row v-else>
            <el-col :span="12" :offset="6" style="text-align: center;margin-top: 60px;">
              <el-button type="primary" @click="confirmEidt">确认修改</el-button>
              <el-button type="danger" @click="handleDel">删除数据</el-button>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
    <!-- 删除提示框 -->
    <el-dialog title="提示" :visible.sync="delVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">删除不可恢复，是否确定删除？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="delVisible = false">取 消</el-button>
        <el-button type="primary" @click="deleteRow">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
 
    return {
      tableData: [],
      current: -100,
      rowData: {},
      delVisible: false,
      editVisible: false,
      paramform: {
        linkurl: '',
        name: ''
      },
      form: {
        linkurl: '',
        name: ''
      },
      rules: {
        linkurl: [{ required: true, message: "不能为空", trigger: "blur" }],
        name: [{ required: true, message: "不能为空", trigger: "blur" }],
      }
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'admin'
    ])
  },
  created () {
    this.submitData();
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  components: {
    
  },
  methods: {
    submitData() {
      http.post("/admin/linklist.do", {
       
      }).then((result) => {
        if (result.status === 1) {
          this.tableData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    resetForm () {
      this.current = -100;
      this.$refs.form.resetFields();
      this.form = {
        ...this.paramform
      }
    },
    handleAdd () {
      this.resetForm();
    },
    saveAdd(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         let param = {
           ...this.form
         }   
         http.post("/admin/addlink.do", param)
         .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg);
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              },20)
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleEdit(index, row) {
      this.$refs.form.resetFields();
      this.current = index;
      this.form = {
        id: row.id,
        linkurl: row.linkurl,
        name: row.name
      };
      this.rowData = row;
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         let param = {
           id: this.form.id,
           linkurl: this.form.linkurl,
           name: this.form.name
        }   
         http.post("/admin/updatelink.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
                this.resetForm();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    },
    handleDel() {
      this.delVisible = true;
    },
    deleteRow() {
      http.post("/admin/dellink.do", {
        id: this.rowData.id
      }).then((result) => {
        if (result.status === 1) {
          this.$message.success(result.msg);
          setTimeout(() => {
            this.submitData();
            this.resetForm();
          }, 20);
          this.delVisible = false;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    gotPcpath (value) {
      this.form.pcpath = value;
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/page.scss';
</style>
