<template>
  <div class="page">
    <el-card shadow="always" class="page-title">
      <div class="title-tag">网站基础设置</div>
    </el-card>
    
    <el-card shadow="always">
      <div class="container-form" style="min-height: 440px">
        <div class="form-wrapper">
           <el-form ref="form" :model="form" :rules="rules" label-width="80px">
              <el-row>
                <el-col :span="24">
                  <el-form-item label="网站名称" prop="hotelname">
                    <el-input v-model="form.hotelname" placeholder="请输入"></el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24">
                  <el-form-item label="网站SEO" prop="address">
                    <el-input
                      type="textarea"
                      :rows="4"
                      resize="none"
                      placeholder="请输入.."
                      v-model="form.address"
                      maxlength="200"
                      show-word-limit
                    >
                    </el-input>
                  </el-form-item>
                </el-col>
              </el-row>
              <el-row>
                <el-col :span="24" style="text-align: center;margin-top: 60px;">
                  <el-button type="primary" @click="confirmEidt">确认修改</el-button>
                </el-col>
              </el-row>
            </el-form>
        </div>
       
      </div>
    </el-card>
    <!-- 编辑提示框 -->
    <el-dialog title="提示" :visible.sync="editVisible" width="30%" center>
      <div class="del-dialog-cnt" style="text-align: center">是否确定要进行编辑修改？</div>
      <span slot="footer" class="dialog-footer">
        <el-button @click="editVisible = false">取 消</el-button>
        <el-button type="primary" @click="saveEdit('form')">确 定</el-button>
      </span>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters} from 'vuex'
import http from '@/axios/http'
export default {
  data () {
   
    return {
      editVisible: false,
      form: {
        hotelname: '',
        address: '',
      },
      rules: {
        hotelname: [{ required: true, message: "不能为空", trigger: "blur" }],
        address: [{ required: true, message: "不能为空", trigger: "blur" }],
      }
    }
  },
  watch: {
    
  },
  computed: {
    ...mapState([
      'admin'
    ])
  },
  created () {
    
  },
  mounted () {
    
  },
  beforeDestroy () {
    
  },
  components: {
    
  },
  methods: {
    submitData () {
      http.post("/hotel/hotelinfo.do", {
        id: this.uulogin.id
      }).then((result) => {
        if (result.status === 1) {
          const data = result.data;
          this.form = data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    confirmEidt () {
      this.editVisible = true;
    },
    saveEdit(formName) {
      this.$refs[formName].validate(valid => {
        if (valid) {
         let param = {
          id: this.form.id,
          hotelname: this.form.hotelname
        }
         http.post("/hotel/updatehotel.do", param)
          .then((result) => {
            if (result.status === 1) {
              this.$message.success(result.msg)
              setTimeout(() => {
                this.submitData();
              },20)
              this.editVisible = false;
            } else {
              this.$message.warning(result.msg);
            }
          })
          .catch(error => {
            this.$message.error(error);
          });
        }
      });
    }
  }
}
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss" scoped>
@import '../Home/page.scss';
.form-wrapper {
  width: 600px;
  margin: 0 auto;
}
</style>
