<!--
 * @Description: In User Settings Edit
 * @Author: your name
 * @Date: 2019-08-26 09:59:22
 * @LastEditTime: 2019-08-27 18:07:27
 * @LastEditors: Please set LastEditors
 -->
<template>
  <div class="page">
    <div class="crumbs" v-show="false">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <i class="el-icon-search crumbs-i-right"></i>数据查询
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title" v-show="false">
      <div class="container-form">
        <el-form
          :model="searchform"
          ref="searchform"
          class="search-form"
          :inline="true"
        >
          <el-row>
            <el-col :span="24">
              <el-form-item label="功能模块" prop="backupname"> </el-form-item>
              <el-form-item label-width="0px">
                <el-button type="primary" @click="handleSearch">查询</el-button>
                <el-button type="info" @click="resetSearch('searchform')"
                  >重置</el-button
                >
              </el-form-item>
            </el-col>
          </el-row>
        </el-form>
      </div>
    </el-card>
    <div class="crumbs">
      <el-breadcrumb separator="/">
        <el-breadcrumb-item>
          <span><i class="el-icon-s-data crumbs-i-right"></i>数据列表</span>
        </el-breadcrumb-item>
      </el-breadcrumb>
    </div>
    <el-card shadow="always" class="page-title">
      <div class="container-form" style="text-align:right">
        <!-- <el-button type="primary" @click="handleAdd">新增</el-button> -->
      </div>
      <div class="container-table" style="min-height: 440px">
        <el-table :data="tableData" border class="table">
          <el-table-column prop="id" label="序号" width="60"></el-table-column>
          <el-table-column prop="ordernum" label="订单编号"></el-table-column>
          <el-table-column prop="orderstatus" label="状态" width="90">
            <template slot-scope="scope">
              <span class="color-err" v-show="scope.row.orderstatus === 2"
                >完成</span
              >
              <span class="color-suc" v-show="scope.row.orderstatus === 1"
                >进行中</span
              >
              <span class="color-default" v-show="scope.row.orderstatus === 0"
                >未完成</span
              >
            </template>
          </el-table-column>
          <el-table-column prop="orderstatus" label="新郎/新娘" width="120">
            <template slot-scope="scope">
              <span>{{ scope.row.groomname }}/{{ scope.row.bridename }}</span>
            </template>
          </el-table-column>
          <el-table-column
            prop="weddingdate"
            label="婚期时间"
            width="150"
          ></el-table-column>
          <el-table-column label="操作" width="150" align="center">
            <template slot-scope="scope">
              <el-button
                type="text"
                icon="el-icon-search"
                @click="handleCat(scope.$index, scope.row)"
                >查看</el-button
              >
            </template>
          </el-table-column>
        </el-table>
        <div class="table-pagination">
          <el-pagination
            background
            @size-change="changeLimit"
            @current-change="handleCurrentChange"
            :current-page.sync="page"
            :page-sizes="[10, 20, 30, 40]"
            :page-size="limit"
            layout="total, sizes, prev, pager, next, jumper"
            :total="total"
          >
          </el-pagination>
        </div>
      </div>
    </el-card>
    <!-- 订单提示框 -->
    <el-dialog title="订单" :visible.sync="addVisible" width="980px" center>
      <el-form ref="form" :model="form" label-width="120px">
        <!-- 客户信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            客户信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="新郎姓名" prop="groomname">
                  <el-input
                    v-model="form.groomname"
                    placeholder="请输入"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="新郎电话" prop="groomaccout">
                  <el-input
                    v-model="form.groomaccout"
                    placeholder="请输入"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="新郎地址" prop="groomaddress">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.groomaddress"
                    maxlength="200"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="新娘姓名" prop="bridename">
                  <el-input
                    v-model="form.bridename"
                    placeholder="请输入"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="新娘电话" prop="brideaccount">
                  <el-input
                    v-model="form.brideaccount"
                    placeholder="请输入"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="新娘地址" prop="brideaddress">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.brideaddress"
                    maxlength="200"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="客户婚期" prop="orderweddingdate">
                  <el-date-picker
                    v-model="form.orderweddingdate"
                    type="date"
                    placeholder="选择日期"
                    style="width: 100%"
                    format="yyyy 年 MM 月 dd 日"
                    value-format="yyyy-MM-dd"
                    :picker-options="pickerOptions"
                    disabled
                  >
                  </el-date-picker>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="联系邮箱" prop="email">
                  <el-input
                    v-model="form.email"
                    placeholder="请输入"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <!-- 婚庆信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            婚庆信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="24">
                <el-form-item label="婚庆方案" prop="merchantdemoid">
                  <el-select
                    v-model="form.merchantdemoid"
                    clearable
                    placeholder="请选择"
                    style="width: 100%"
                    disabled
                  >
                    <el-option
                      v-for="(item, index) in productList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="备注信息" prop="demoremark">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.demoremark"
                    maxlength="200"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <div class="price-total" v-show="form.demomoney">
                  <span class="price-discount"
                    ><strong>现价：</strong
                    >{{ form.demodiscountmoney }} 元</span
                  >
                  <span class="price-money"
                    ><span>原价：{{ form.demomoney }} 元</span></span
                  >
                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>

        <!-- 婚车信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            婚车信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="头车选择" prop="headmerchantvehicleid">
                  <el-select
                    v-model="form.headmerchantvehicleid"
                    clearable
                    disabled
                    filterable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in carsList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="头车颜色" prop="headcolor">
                  <el-select
                    v-model="form.headcolor"
                    placeholder="请选择"
                    style="width: 100%"
                    disabled
                  >
                    <el-option
                      v-for="item in form.headcolorjson"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item
                  label="头车现价"
                  prop="headmerchantvehiclediscountmoney"
                >
                  <el-input
                    v-model="form.headmerchantvehiclediscountmoney"
                    placeholder="自动获取"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="头车原价" prop="headmerchantvehiclemoney">
                  <el-input
                    v-model="form.headmerchantvehiclemoney"
                    placeholder="自动获取"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="花环单价" prop="wreathprice">
                  <el-input
                    v-model="form.wreathprice"
                    placeholder="自动获取"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="头车数量" prop="headmerchantvehiclenum">
                  <el-input
                    v-model="form.headmerchantvehiclenum"
                    clearable
                    disabled
                    placeholder="请输入数量自动计算"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="用车时段" prop="headtimeinterval">
                  <el-select
                    v-model="form.headtimeinterval"
                    style="width: 100%"
                    disabled
                    placeholder="请选择"
                  >
                    <el-option label="半天" :value="1"></el-option>
                    <el-option label="整天" :value="2"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-divider></el-divider>
            <!-- 礼车 -->
            <el-row>
              <el-col :span="11">
                <el-form-item label="礼宾车选择" prop="tailmerchantvehicleid">
                  <el-select
                    v-model="form.tailmerchantvehicleid"
                    clearable
                    filterable
                    disabled
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in carsList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="11">
                <el-form-item label="礼宾车颜色" prop="tailcolor">
                  <el-select
                    v-model="form.tailcolor"
                    placeholder="请选择"
                    disabled
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in form.tailcolorjson"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="11">
                <el-form-item
                  label="礼宾车现价"
                  prop="tailmerchantvehiclediscountmoney"
                >
                  <el-input
                    v-model="form.tailmerchantvehiclediscountmoney"
                    disabled
                    placeholder="自动获取"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="11">
                <el-form-item
                  label="礼宾车原价"
                  prop="tailmerchantvehiclemoney"
                >
                  <el-input
                    v-model="form.tailmerchantvehiclemoney"
                    placeholder="自动获取"
                    disabled
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="11">
                <el-form-item label="礼宾车数量" prop="tailmerchantvehiclenum">
                  <el-input
                    v-model="form.tailmerchantvehiclenum"
                    disabled
                    placeholder="请输入数量自动计算"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="11">
                <el-form-item label="用车时段" prop="tailtimeinterval">
                  <el-select
                    v-model="form.tailtimeinterval"
                    disabled
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option label="半天" :value="1"></el-option>
                    <el-option label="整天" :value="2"></el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="备注信息" prop="vehicleremark">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.vehicleremark"
                    maxlength="300"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <div class="price-total" v-show="form.vehiclediscountmoney">
                  <span class="price-discount"
                    ><strong>现价：</strong
                    >{{ form.vehiclediscountmoney }} 元</span
                  >
                  <span class="price-money"
                    ><span>原价：{{ form.vehiclemoney }} 元</span></span
                  >
                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <!-- 司仪信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            司仪信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="风格筛选" prop="emceestyletype">
                  <el-select
                    v-model="searchform.emceestyletype"
                    clearable
                    disabled
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in emceeStyleList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="选择司仪" prop="emceeid">
                  <el-select
                    v-model="form.emceeid"
                    clearable
                    filterable
                    disabled
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="item in siyiList"
                      :key="item.id"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <div style="width: 100%;height: 100px;margin-top: -10px">
                  <img
                    :src="form.emceeimage"
                    alt=""
                    v-show="form.emceeimage"
                    style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;"
                  />
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="备注信息" prop="emceeremark">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.emceeremark"
                    maxlength="300"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <div class="price-total" v-show="form.emceemoney">
                  <span class="price-discount"
                    ><strong>现价：</strong
                    >{{ form.emceediscountmoney }} 元</span
                  >
                  <span class="price-money"
                    ><span>原价：{{ form.emceemoney }} 元</span></span
                  >
                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <!-- 跟妆信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            跟妆信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="风格筛选" prop="makeupstyletype">
                  <el-select
                    v-model="searchform.makeupstyletype"
                    disabled
                    clearable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in makeupStyleList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="选择跟妆" prop="makeupid">
                  <el-select
                    v-model="form.makeupid"
                    filterable
                    disabled
                    placeholder="请选择"
                    clearable
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in genzhuangList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <div style="width: 100%;height: 100px;margin-top: -10px">
                  <img
                    :src="form.makeupimage"
                    alt=""
                    v-show="form.makeupimage"
                    style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;"
                  />
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="备注信息" prop="makeupremark">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.makeupremark"
                    maxlength="300"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <div class="price-total" v-show="form.makeupmoney">
                  <span class="price-discount"
                    ><strong>现价：</strong
                    >{{ form.makeupdiscountmoney }} 元</span
                  >
                  <span class="price-money"
                    ><span>原价：{{ form.makeupmoney }} 元</span></span
                  >
                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <!-- 摄影信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            摄影信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="风格筛选" prop="photographystyletype">
                  <el-select
                    v-model="searchform.photographystyletype"
                    disabled
                    clearable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in photographyStyleList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
                <el-form-item label="摄影选择" prop="photographyid">
                  <el-select
                    v-model="form.photographyid"
                    clearable
                    disabled
                    filterable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in sheyingList"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <div style="width: 100%;height: 100px;margin-top: -10px">
                  <img
                    :src="form.photographyimage"
                    alt=""
                    v-show="form.photographyimage"
                    style="width:100px;height:100px;border-radius: 50%;overflow:hidden;margin-left: 30px;"
                  />
                </div>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="8">
                <el-form-item
                  label="单机位现价"
                  prop="photographydiscountmoney"
                >
                  <el-input
                    v-model="form.photographydiscountmoney"
                    disabled
                    placeholder="自动获取"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="单机位原价" prop="photographymoney">
                  <el-input
                    v-model="form.photographymoney"
                    disabled
                    placeholder="自动获取"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="8">
                <el-form-item label="机位数量" prop="photographynum">
                  <el-input
                    v-model="form.photographynum"
                    disabled
                    clearable
                    placeholder="请输入数量自动计算"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="备注信息" prop="photographyremark">
                  <el-input
                    type="textarea"
                    :rows="4"
                    resize="none"
                    placeholder="请输入.."
                    v-model="form.photographyremark"
                    maxlength="300"
                    show-word-limit
                    disabled
                  >
                  </el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <div
                  class="price-total"
                  v-show="form.photographydiscountmoneytotal"
                >
                  <span class="price-discount"
                    ><strong>现价：</strong
                    >{{ form.photographydiscountmoneytotal }} 元</span
                  >
                  <span class="price-money"
                    ><span
                      >原价：{{ form.photographymoneytotal }} 元</span
                    ></span
                  >
                </div>
              </el-col>
            </el-row>
          </div>
        </el-card>
        <!-- 活动信息 -->
        <el-card shadow="always" class="page-title">
          <div slot="header" class="container-header">
            活动信息
          </div>
          <div class="container-form">
            <el-row>
              <el-col :span="12">
                <el-form-item label="现价" prop="alltotaldiscountmoney">
                  <el-input
                    v-model="form.alltotaldiscountmoney"
                    disabled
                    placeholder="自动获取"
                  ></el-input>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="原价" prop="alltotalmoney">
                  <el-input
                    v-model="form.alltotalmoney"
                    disabled
                    placeholder="自动获取"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="12">
                <el-form-item label="满减优惠" prop="manjianid">
                  <el-select
                    v-model="form.manjianid"
                    disabled
                    clearable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in manjianData"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
              <el-col :span="12">
                <el-form-item label="折扣优惠" prop="discountid">
                  <el-select
                    v-model="form.discountid"
                    disabled
                    clearable
                    placeholder="请选择"
                    style="width: 100%"
                  >
                    <el-option
                      v-for="(item, index) in discountData"
                      :key="index"
                      :label="item.name"
                      :value="item.id"
                    >
                    </el-option>
                  </el-select>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="支付价格" prop="computedtotal">
                  <el-input
                    v-model="form.computedtotal"
                    disabled
                    placeholder="自动获取"
                  ></el-input>
                </el-form-item>
              </el-col>
            </el-row>
            <el-row>
              <el-col :span="24">
                <el-form-item label="支付价格" prop="computedtotal">
                  <el-input v-model="form.computedtotal" disabled></el-input>
                </el-form-item>
              </el-col>
            </el-row>
          </div>
        </el-card>
      </el-form>
    </el-dialog>
  </div>
</template>

<script>
import { mapState, mapGetters } from "vuex";
import http from "@/axios/http";
export default {
  data() {
    return {
      searchform: {},
      searchresult: {},
      tableData: [],
      total: 0,
      page: 1,
      limit: 10,
      addVisible: false,
      pickerOptions: {
        disabledDate(time) {
          return time.getTime() - 0 * 3600 * 1000 * 24 <= Date.now();
        }
      },
      searchorderform: {
        emceestyletype: "",
        makeupstyletype: "",
        photographystyletype: ""
      },
      form: {
        groomname: "",
        groomaccout: "",
        bridename: "",
        brideaccount: "",
        groomaddress: "",
        brideaddress: "",
        orderweddingdate: "",
        email: "",

        merchantdemoid: "",
        demomoney: 0,
        demodiscountmoney: 0,
        demoremark: "",

        headcolor: "",
        headcolorjson: [],
        headmerchantvehicleid: "",
        headmerchantvehiclemoney: "",
        headmerchantvehiclediscountmoney: "",
        headmerchantvehiclenum: "",
        headtimeinterval: 1,
        wreathprice: "",

        tailcolor: "",
        tailcolorjson: [],
        tailmerchantvehicleid: "",
        tailmerchantvehiclemoney: "",
        tailmerchantvehiclediscountmoney: "",
        tailmerchantvehiclenum: "",
        tailtimeinterval: 1,
        vehiclediscountmoney: 0,
        vehiclemoney: 0,
        vehicleremark: "",

        emceeid: "",
        emceemoney: 0,
        emceediscountmoney: 0,
        emceeremark: "",
        emceeimage: "",

        makeupid: "",
        makeupmoney: 0,
        makeupdiscountmoney: 0,
        makeupremark: "",
        makeupimage: "",

        photographyid: "",
        photographymoney: "",
        photographynum: "",
        photographydiscountmoney: "",
        photographymoneytotal: 0,
        photographydiscountmoneytotal: 0,
        photographyremark: "",
        photographyimage: "",

        alltotaldiscountmoney: 0,
        alltotalmoney: 0,
        computedtotal: 0,
        manjianid: "",
        discountid: ""
      },
      productList: [],
      carsList: [],
      emceeStyleList: [],
      siyiList: [],
      makeupStyleList: [],
      genzhuangList: [],
      photographyStyleList: [],
      sheyingList: [],
      manjianData: [],
      discountData: [],
      orderid: 0
    };
  },
  watch: {},
  computed: {
    ...mapState(["uulogin"])
  },
  created() {
    this.submitData();
  },
  mounted() {},
  beforeDestroy() {},
  methods: {
    handleSearch() {
      //查询
      this.page = 1;
      this.searchresult = this.searchform;
      this.submitData();
    },
    resetSearch(formName) {
      //重置查询
      this.$refs[formName].resetFields();
      this.searchresult = this.searchform;
      this.page = 1;
      this.submitData();
    },
    // 分页导航
    handleCurrentChange(val) {
      this.page = val;
      this.submitData();
    },
    //改变页数
    changeLimit(val) {
      this.page = 1;
      this.limit = val;
      this.submitData();
    },
    submitData() {
      http
        .post("/order/adminorderlist.do", {
          page: this.page,
          limit: this.limit
        })
        .then(result => {
          if (result.status === 1) {
            this.tableData = result.data.data;
            this.total = result.data.count;
          } else {
            this.$message.warning(result.msg);
          }
        })
        .catch(error => {
          this.$message.error(error);
        });
    },
    handleCat(index, row) {
        console.log(row)
        this.orderData(row.id)
        this.productData(row.merchantid);
        this.gotVehicleList(row.merchantid);
        this.siyiData(row.merchantid);
        this.emceeStyleData();

        this.genzhuangData();
        this.makeupStyleData(row.merchantid);

        this.sheyingData(row.merchantid);
        this.photographyStyleData();

        this.discountCoupon(row.merchantid);
        this.manjianCoupon(row.merchantid);
    },
    orderData(id) {
      http.post("/order/orderinfo.do", {
        id: id
      }).then((result) => {
        // console.log(result)
        if (result.status === 1) {
          let data = result.data;
          //产品
          let merchantdemoid = data.merchantdemoid ? data.merchantdemoid : ''
          let demomoney = data.demomoney ? data.demomoney : ''
          let demodiscountmoney = data.demodiscountmoney ? data.demodiscountmoney : ''

          //婚车
          let headmerchantvehicleid = data.headmerchantvehicleid ? data.headmerchantvehicleid : ''
          let headmerchantvehiclemoney = data.headmerchantvehiclemoney ? data.headmerchantvehiclemoney : ''
          let headmerchantvehiclediscountmoney = data.headmerchantvehiclediscountmoney ? data.headmerchantvehiclediscountmoney : ''
          let headmerchantvehiclenum = data.headmerchantvehiclenum ? data.headmerchantvehiclenum : ''
          let headtimeinterval = data.headtimeinterval === 2 ? 2 : 1
          let headcolor = data.headcolor ? data.headcolor : ''
          let wreathprice = data.wreathprice ? data.wreathprice : ''

          let tailmerchantvehicleid = data.tailmerchantvehicleid ? data.tailmerchantvehicleid : ''
          let tailmerchantvehiclemoney = data.tailmerchantvehiclemoney ? data.tailmerchantvehiclemoney : ''
          let tailmerchantvehiclediscountmoney = data.tailmerchantvehiclediscountmoney ? data.tailmerchantvehiclediscountmoney : ''
          let tailmerchantvehiclenum = data.tailmerchantvehiclenum ? data.tailmerchantvehiclenum : ''
          let tailtimeinterval = data.tailmerchantvehiclenum === 2 ? 2 : 1
          let tailcolor = data.tailcolor ? data.tailcolor : ''
          //司仪
          let emceeid = data.emceeid ? data.emceeid : ''
          let emceemoney = data.emceemoney ? data.emceemoney : ''
          let emceediscountmoney = data.emceediscountmoney ? data.emceediscountmoney : ''
           //司仪
          let makeupid = data.makeupid ? data.makeupid : ''
          let makeupmoney = data.makeupmoney ? data.makeupmoney : ''
          let makeupdiscountmoney = data.makeupdiscountmoney ? data.makeupdiscountmoney : ''
          //摄影
          let photographyid = data.photographyid ? data.photographyid : ''
          let photographymoney = data.photographymoney ? data.photographymoney : ''
          let photographydiscountmoney = data.photographydiscountmoney ? data.photographydiscountmoney : ''
          let photographynum = data.photographynum ? data.photographynum : ''

          this.form = {
            groomname: data.groomname,
            groomaccout: data.groomaccout,
            bridename: data.bridename,
            brideaccount: data.brideaccount,
            groomaddress: data.groomaddress,
            brideaddress: data.brideaddress,
            orderweddingdate: data.orderweddingdate,
            email: data.email,
            alltotaldiscountmoney: data.alltotaldiscountmoney,
            alltotalmoney: data.alltotalmoney,
            manjianid: data.manjianid,
            discountid: data.discountid,
            computedtotal: data.computedtotal,

            merchantdemoid: merchantdemoid,
            demomoney: demomoney,
            demodiscountmoney: demodiscountmoney,
            demoremark: data.demoremark,

            headcolor: headcolor,
            headcolorjson: data.headcolorjson,
            headmerchantvehicleid: headmerchantvehicleid,
            headmerchantvehiclemoney: headmerchantvehiclemoney,
            headmerchantvehiclediscountmoney: headmerchantvehiclediscountmoney,
            headmerchantvehiclenum: headmerchantvehiclenum,
            headtimeinterval: headtimeinterval,
            wreathprice: wreathprice,
            tailcolor: tailcolor,
            tailcolorjson: data.tailcolorjson,
            tailmerchantvehicleid: tailmerchantvehicleid,
            tailmerchantvehiclemoney: tailmerchantvehiclemoney,
            tailmerchantvehiclediscountmoney: tailmerchantvehiclediscountmoney,
            tailmerchantvehiclenum: tailmerchantvehiclenum,
            tailtimeinterval: tailtimeinterval,
            vehiclediscountmoney: data.vehiclediscountmoney,
            vehiclemoney: data.vehiclemoney,
            vehicleremark: data.vehicleremark,

            emceeid: emceeid,
            emceemoney:emceemoney,
            emceediscountmoney: emceediscountmoney,
            emceeremark: data.emceeremark,
            emceeimage:  data.emceeimage,
            makeupid: makeupid,
            makeupmoney: makeupmoney,
            makeupdiscountmoney: makeupdiscountmoney,
            makeupremark: data.makeupremark,
            makeupimage: data.makeupimage,

            photographyid: photographyid,
            photographynum: photographynum,
            photographymoney: photographymoney,
            photographydiscountmoney: photographydiscountmoney,
            photographydiscountmoneytotal: data.photographymoneytotal,
            photographymoneytotal: data.photographymoneytotal,
            photographyremark: data.photographyremark,
            photographyimage: data.photographyimage
          };
           this.addVisible = true;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });

    },
    productData (id) {
      //产品接口
      http.post("/merchant/backuppassproductitem.do", {
        id: id
      }).then((result) => {
        if (result.status === 1) {
          this.productList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    gotVehicleList (id) {
      http.post("/vehicle/getvehiclebyparam.do", {
        id: id
      })
      .then((result) => {
        if (result.status === 1) {
          this.carsList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    siyiData (id) {
      let styletype = !this.searchorderform.emceestyletype ? 0 : this.searchorderform.emceestyletype
      http.post("/emcee/getemceebyparam.do", {
        id: id,
        styletype: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.siyiList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    emceeStyleData () {
      //司仪风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.emceeStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    genzhuangData (id) {
      let styletype = !this.searchorderform.makeupstyletype ? 0 : this.searchorderform.makeupstyletype;
      http.post("/makeup/getmakeupbyparam.do", {
        id: id,
        styletype: styletype
      })
      .then((result) => {
        // console.log(result)
        if (result.status === 1) {
          this.genzhuangList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    makeupStyleData () {
      //跟妆风格下拉
      http.post("/style/droplist.do", {
        type: 4
      })
      .then((result) => {
        if (result.status === 1) {
          this.makeupStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    sheyingData (id) {
      let styletype = this.searchorderform.photographystyletype === '' ? 0 : this.searchorderform.photographystyletype;
      http.post("/photography/getphotographybyparam.do", {
        id: id,
        styletype: styletype
      })
      .then((result) => {
        if (result.status === 1) {
          this.sheyingList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });

    },
    photographyStyleData () {
      //摄影风格下拉
      http.post("/style/droplist.do", {
        type: 1
      })
      .then((result) => {
        if (result.status === 1) {
          this.photographyStyleList = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      })
      .catch(error => {
        this.$message.error(error);
      });
    },
    discountCoupon (id) {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: id,
        type: 2
      }).then((result) => {
        if (result.status === 1) {
          this.discountData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    },
    manjianCoupon (id) {
      //折扣活动
      http.post("/celebrationactivty/activtyonstatus.do", {
        id: id,
        type: 1
      }).then((result) => {
        if (result.status === 1) {
          this.manjianData = result.data;
        } else {
          this.$message.warning(result.msg);
        }
      }).catch(error => {
        this.$message.error(error);
      });
    }
  }
};
</script>

<!-- Add "scoped" attribute to limit CSS to this component only -->
<style lang="scss">
@import "../Home/page.scss";
.price-total {
  text-align: right;
  font-size: 14px;
  .price-discount {
    margin-right: 15px;
    color: #333;
  }
  .price-money {
    text-decoration: line-through;
    color: red;
    span {
      color: #333;
    }
  }
}
</style>
